
.contact-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 10vh;
  }
  .contact-article-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2%;
  }
  .contact-section > h1 {
    font-size: 45px;
    margin-left: 1.25rem;
    font-weight: 800;
    margin-bottom: 10px;
    color: hsl(120, 96%, 19%);
  }
  .contact-article {
    height: max-content;
    width: 250px;
    margin-top: 20px;
    margin-left: 15px;
    background-color: #fff;
  }
  .contact-article > img {
    width: 250px;
    height: 250px;
  }
  .contact-content {
    padding: 15px;
  }
  .contact-content > p {
    color: hsl(233, 8%, 62%);
    font-weight: 400;
    font-size: 14px;
  }
  .contact-content > h4 {
    color: hsl(233, 26%, 24%);
    padding-bottom: 5px;
    padding-top: 5px;
  }