@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:#66306b;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: #df97f1;
	letter-spacing: 0.5px;
}
h2{
	color: #914aa3;
	letter-spacing: 0.5px;
	font-family: raleway;
}