/* 
### Primary
- Dark Blue: hsl(233, 26%, 24%)
- Lime Green: hsl(136, 65%, 51%)
- Bright Cyan: hsl(192, 70%, 51%)
### Neutral
- Grayish Blue: hsl(233, 8%, 62%)
- Light Grayish Blue: hsl(220, 16%, 96%)
- Very Light Gray: hsl(0, 0%, 98%)
- White: hsl(0, 0%, 100%) */
html,
body,
header,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-bar > img {
  width: 40vh;
  height: min-content;
  position: relative;
}

.nav-items > a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: hsl(233, 8%, 62%);
  margin-left: 10px;
}
.nav-bar > button {
  padding: 12px 28px;
  border: none;
  outline-width: 0;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 400;
  background-image: linear-gradient(
    120deg,
    hsl(98, 100%, 42%),
    hsl(130, 98%, 21%)
  );
}
.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}
.hero-img-container {
  background-image: url("./images/bg-intro-desktop.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 20px;
  margin-right: 5.5%;
}
.hero-img-container > img {
  width: 500px;
}
.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 3%;
}
.hero-text-container > h1 {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 20px;
  color: hsl(120, 96%, 19%);
  line-height: 1.1;
}
.hero-text-container > p {
  color: hsl(240, 2%, 39%);
  margin-bottom: 15px;
  font-weight: 700;
}
.hero-text-container > button {
  padding: 12px 38px;
  border: none;
  outline-width: 0;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 500;
  background-image: linear-gradient(
    120deg,
    hsl(98, 100%, 42%),
    hsl(130, 98%, 21%)
  );
}
.container {
  background-color: hsl(220, 16%, 96%);
}
.why-us {
  padding-top: 10vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10vh;
}
.why-us > h1 {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 20px;
  color: hsl(120, 96%, 19%);
}
.why-us > p {
  color: hsl(240, 1%, 32%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 3%;
}

/* NOSOTROS ------------------- */

.why-us-page {
  padding-top: 1vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5vh;
  align-items: center;
  display: flexbox;
  margin-bottom: 1%;
}
.why-us-page > h1 {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 20px;
  color: hsl(120, 96%, 19%);
}
.why-us-page > p {
  color: hsl(233, 8%, 62%);
  /* margin-bottom: 15px; */
  font-weight: 700;
  font-size: 21px;
  margin-right: 70vh;
  text-align: justify;
  margin-left: 2vh;
  position: absolute;
  margin-top: 3%;
}

.why-us-img-container {
  position: relative;
  float: left;
  left: 55%;
}

.why-us-img-container > img {
  width: 400px;
  border-radius: 10%;
}

/*  ------------------- */

.features-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 10vh;
}
.feature-item > img {
  width: 65px;
  margin-bottom: 5px;
}
.feature-item > h1 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  color: hsl(120, 96%, 19%);
}
.feature-item > p {
  color: hsl(233, 8%, 62%);
  font-weight: 700;
}
.blog-section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10vh;
}
.article-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 2%;
}
.blog-section > h1 {
  font-size: 45px;
  margin-left: 1.25rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: hsl(120, 96%, 19%);
}
.article {
  height: max-content;
  width: 250px;
  margin-top: 20px;
  margin-left: 15px;
  background-color: #fff;
}
.article > img {
  width: 250px;
  height: 250px;
}
.content {
  padding: 15px;
}
.content > p {
  color: hsl(233, 8%, 62%);
  font-weight: 400;
  font-size: 14px;
}
.content > h4 {
  color: hsl(233, 26%, 24%);
  padding-bottom: 5px;
  padding-top: 5px;
}
.footer {
  background-color: hsl(233, 26%, 24%);
  height: 30vh;
}
.footer-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 2rem;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.menu > a {
  text-decoration: none;
  color: white;
  margin-bottom: 15px;
  font-weight: 600;
}
.social-container {
  margin-top: 3rem;
}
.social-container > img {
  margin-left: 10px;
  cursor: pointer;
}
.footer-container > button {
  margin-top: 3rem;
  padding: 12px 28px;
  border: none;
  outline-width: 0;
  color: white;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 400;
  background-image: linear-gradient(
    120deg,
    hsl(98, 100%, 42%),
    hsl(130, 98%, 21%)
  );
}

.contador {
  position: relative;
  align-content: center;
  padding-bottom: 0%;
}

/*Cancelar cuenta------------------- */
.hero-img-container {
  background-image: url("./images/bg-intro-desktop.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 20px;
  margin-right: 5.5%;
}
.hero-img-container > img {
  width: 500px;
}